.contact-btns {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.icon-container {
  margin-top: 4rem;
  width: 4rem;
  height: 4rem;
  /* height: 4rem;  */
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}
.icon {
  width: 3rem;
  height: 3rem;
  display: flex;
  position: relative;
  transition: all 0.3s ease-in-out;
  /* gap: 1rem; */
}
span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
span:nth-child(2) {
  top: 6px;
  right: 6px;
  opacity: 0.6;
  display: none;
}
span:nth-child(3) {
  top: 12px;
  right: 12px;
  opacity: 0.4;
  display: none;
}
span:nth-child(4) {
  top: 18px;
  right: 18px;
  opacity: 0.2;
  display: none;
}
.main-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-icon i {
  opacity: 0.8;
}
.telegram span {
  color: #0088cc;
  border: solid 3px #0088cc;
}
.telegram .main-icon {
  color: #0088cc;
}
.telegram + .text {
  color: #0088cc;
}
.whatsapp span {
  color: #25D366;
  border: solid 3px #25D366;
}
.whatsapp .main-icon {
  color: #25D366;
}
.whatsapp + .text {
  color: #25D366;
}
.instagram span {
  color: #E1306C;
  border: solid 3px #FF5C9D;
}
.instagram .main-icon {
  color: #E1306C;
}
.instagram + .text {
  color: #E1306C;
}
.facebook span {
  color: #1877F2;
  border: solid 3px #1877F2;
}
.facebook .main-icon {
  color: #1877F2;
}
.facebook + .text {
  color: #1877F2;
}
.icon-container:hover {
  margin-top: 1.5rem;
  width: 8rem;
  height: 6rem;
  /* transform: rotate(-45deg); */
}
.icon-container:hover .icon {
  transform: rotate(-45deg) skew(15deg, 25deg);
}
.icon-container:hover .icon span {
  display: flex;
}
.icon-container:hover .text {
  display: block;
  opacity: 0.7;
  transform: scale(1);
  font-size: 1.3rem;
}
.icon-container .text {
  /* display: none; */
  font-size: 0;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
}